* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgba(0, 0, 255, 0.329);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    width: 350px;
    height: 500px;
    background-color: rgba(15, 5, 105, 0.596);
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(8, 112, 160);
}
.display {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-bottom: 2px solid wheat;
}
.display .prev{
    flex:2;
}
.display .current {
    flex: 3;
}
.utils {
    display: flex;
    height: 50px;
}
.utils button {
    flex: 1;
    background-color: #fff;
}
.utils button:hover {
    border: 1px solid rgba(50, 252, 10, 0.788);
    box-shadow: 0 0 5px rgb(0, 255, 42);
}
.main {
    display: flex;
    flex: 1;
}
.main button {
    flex: 1;
    background-color: #fff;
    gap: 5px;
    border-radius: 5px;
}
.main button:hover {
    border: 1px solid rgba(172, 5, 5, 0.664);
    box-shadow: 0 0 5px rgb(255, 0, 0);
}
.main .operand:hover {
    border: 1px solid rgba(18, 2, 243, 0.664);
    box-shadow: 0 0 5px rgba(0, 4, 255, 0.986);
}
.main .equal:hover {
    border: 1px solid rgba(2, 187, 243, 0.664);
    box-shadow: 0 0 5px rgba(0, 183, 255, 0.986);
}
.prev {
    font-size: 14px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: rgba(0, 0, 0, 0.507);
}
.current {
    font-size: 19px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: rgb(0, 0, 0);
}